<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/abc.css" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script src="asdf.js"></script>
    <title>Fishes</title>
  </head>
  <body>
    <main>
      <section class="glass">
        <div class="container1"><button class="btn1" onclick="openCamera()">CAMERA</button></div>
        <div class="container2"><button class="btn2">UPLOAD</button></div>
        <div class="container3">
          <a href="{{url_for('Done')}}"class="done"><button class="btn3">DONE</a></button>
        </div>
      </section>
    </main>
  </body>
</html>
